#header-img {
  margin-top: 64px;
  width: 100%;
  height: 400px;
  background-image: url("/img/main.jpg");
  background-size: cover;
}
#header-img>div{
  position: absolute;
  top: 200px;
  left: 200px;
  font-size: 2rem;
  color: white;
}
#header-img>div>p{
  margin-bottom: 30px;
}
.btn{
  all: unset;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 4px;
  border-color: white;
  background-color: #ff2d55;
  user-select: none;
  cursor: pointer;
}
.btn:hover{
  color: #ff2d55;
  background-color: black;
  transition: 0.3s;
}
section {
  text-align: center;
}
#article>h2 {
  text-align: left;
  margin-top: 30px;
  margin-left: 10%;
}
img {
  width: 120px;
  height: 60px;
}
article {
  display: inline-block;
  margin: 10px;
  width: 412px;
  height: 490px;
  border: 1px solid #dfe6e9;
  border-radius: 4px;
}
.article-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  margin: 5px;
  cursor: pointer;
}
.article-title:hover{
	text-decoration: underline;
}
.article-content {
  text-align: left;
  padding: 20px;
  color: #6d6d72;
  height: 230px;
  overflow: hidden;
}
.article-img {
  width: 100%;
  height: 200px;
}
#article-header {
  text-align: left;
}
.line {
  text-align: center;
}
.line>div {
  display: inline-block;
  width: 90%;
  border-top: 1px solid #f5f6fa;
}

#makers-title{
  text-align: center;
  margin-top: 30px;
}
#makers {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.maker {
  display: inline-block;
  position: relative;
  margin: 10px 10px;
  perspective: 1000;
}

.card {
  width: 300px;
  height: 420px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.5s;
}

.face {
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}

.front {
  background: #ffffff;
  border: 2px solid #ced6e0;
  border-radius: 10px;
  border-top-left-radius: 50% 35%;
  border-top-right-radius: 50% 35%;
}

.back {
  transform: rotateY(180deg);
  background: #ffffff;
  border: 2px solid #ced6e0;
  border-radius: 10px;
  border-top-left-radius: 50% 35%;
  border-top-right-radius: 50% 35%;
}

.maker:hover .card {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.maker:hover .front {
  z-index: 0;
}

.face.front>img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 20px;
}
.name{
	color: #747d8c;
  font-weight: bold;
  font-size: 1.2rem;
}
.role-title{
	font-weight: bold;
	font-size: 0.8rem;
	height: 20px;
}
.role{
	font-size: 0.9rem;
}

#header-img > div > p:nth-child(2){
	text-align: right;
}

.back-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 20px;
	}