<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/resources/css/essay/write.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.css}">
    <link rel="stylesheet" th:href="@{https://uicdn.toast.com/editor/2.0.0/toastui-editor.min.css}">
</th:block>

<section id="write-wrapper" layout:fragment="content">
    <h1>에세이 작성</h1>
    <input type="hidden" name="id" th:value="${essay.id}">
    <div id="title-wrap">
        <input name="title" id="title" type="text" placeholder="제목" th:value="${essay.title}">
    </div>
    <div id="editor"></div>
    <div id="btn-wrap">
        <button id="writeBtn" type="button">수정</button>
        <button id="cancelBtn" type="button">취소</button>
    </div>

    <form th:action="@{/essay/modify/{id}(id=${essay.id})}" method="post" enctype="multipart/form-data" id="modifyEssayForm">
        <input type="hidden" id="h_title" name="title">
        <input type="hidden" id="h_content" name="content">
    </form>
</section>

<th:block layout:fragment="script">

    <script th:src="@{https://uicdn.toast.com/editor/2.0.0/toastui-editor-all.min.js}"></script>
    <script type="text/javascript">
        const content = [].join('\n');

        const editor = new toastui.Editor({
            el: document.querySelector('#editor'),
            previewStyle: 'vertical',
            initialEditType: "wysiwyg",
            height: '500px',
            initialValue: content
        });

        //전송버튼
        document.getElementById("writeBtn").addEventListener('click', () => {
            document.getElementById('modifyEssayForm').submit();
        });

        document.getElementById('cancelBtn').addEventListener('click', () => {
            history.back();
        });
    </script>
</th:block>