<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/resources/css/essay/write.css}">
</th:block>

<form th:action="@{/essay/modify/{id}(id=${essay.id})}" method="post" id="modifyEssayForm" enctype="multipart/form-data" layout:fragment="content">
    <h1>에세이 작성</h1>
    <input type="hidden" name="id" th:value="${essay.id}">
    <div id="title">
        <input name="title" type="text" placeholder="제목" th:value="${essay.title}">
    </div>
    <div id="content">
        <textarea id="editor" name="content" placeholder="내용" th:utext="${essay.content}"></textarea>
    </div>
    <div id="btn-wrap">
        <button id="writeBtn" type="button">수정</button>
        <button id="cancelBtn" type="button">취소</button>
    </div>
</form>

<th:block layout:fragment="script">
    <script th:src="@{https://code.jquery.com/jquery-latest.js}"></script>
    <script th:src="@{/resources/editor/js/HuskyEZCreator.js}" charset="utf-8"></script>

    <script type="text/javascript">
        //전역변수
        const obj = [];
        //스마트에디터 프레임생성
        nhn.husky.EZCreator.createInIFrame({
            oAppRef: obj,
            elPlaceHolder: "editor",
            sSkinURI: "/resources/editor/SmartEditor2Skin.html",
            htParams : {
                // 툴바 사용 여부
                bUseToolbar : true,
                // 입력창 크기 조절바 사용 여부
                bUseVerticalResizer : true,
                // 모드 탭(Editor | HTML | TEXT) 사용 여부
                bUseModeChanger : true,
            }
        });
        //전송버튼
        document.getElementById("writeBtn").addEventListener('click', () => {
            //id가 editor인 textarea에 에디터에서 대입
            obj.getById["editor"].exec('UPDATE_CONTENTS_FIELD', []);
            //폼 submit
            document.getElementById('modifyEssayForm').submit();
        });

        document.getElementById('cancelBtn').addEventListener('click', () => {
            history.back();
        });
    </script>
</th:block>