section{
  margin: 10% 20% 13.5% 20%;
}
.item1 {
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  grid-area: header;
}

.item2 {
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  grid-area: menu;
  height: 200px;
}

.item4 {

  border-bottom: 2px solid gray;
  grid-area: right;
  height: 200px;
}

.grid-container {
  border-radius: 25px;
  display: grid;
  grid-template-areas:
    'header header'
    'menu right'
    'menu right'
    'footer footer';
  grid-gap: 1px;

  padding: 7px;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  margin: 0.4em 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 18px;
  white-space: nowrap;
  width: 100%;
  padding: .8em 1.5em;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  margin-top: 2rem;
  line-height: 18px;
  display: inline-block;
  zoom: 1;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}

.btn i {
  padding-right: 0.8em;
  line-height: 22px;
}

.icon-only {
  padding: 1em;
}

.icon-only i {
  padding-right: 0;
  font-size: 22px;
  line-height: 22px;
}

.btn.btn-sunflower {

  width: 90%;
  border-radius: 10px;
  background-color: #ff2d55;
  border-color: #ff2d55;
  -webkit-box-shadow: 0 3px 0 #ff2d55;
  box-shadow: 0 3px 0 #ff2d55;
}

.btn.btn-sunflower:hover {
  background-color: #ff2d88;
}

.btn.btn-sunflower:active {
  top: 3px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.grid-container>div {

  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

.join {
  text-align: center;
}

.auth-layout .choose-methods {
  display: flex;
  display: -ms-flexbox;
}

ol,
ul {
  list-style: none;
}

ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.selecting {
  background-color: antiquewhite;
}

#serfa {
  width: 100%;
}
