@font-face {
  font-family: 'yoon';
  src: url('/font/HANYOONGOTHIC760.TTF') format('truetype');
}

section {
  /*margin: 130px 5%;
    text-align: center;*/
  top: 0;
  width: 100%;
  position: relative;
}

section {
  top: 0;
  margin: 130px 5%;
}

.title { /* 팔로워 리스트 크기 조정 */
  width: 1000px;
  margin-left: 190px;
  display: flex;
  flex-direction: column;
}

.title .follower-content {
  height: 200px;
  display: flex;
  border: 2px solid #6d6d72;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
    rgba(0, 0, 0, 0.12);
  list-style: none;
  margin-bottom: 5px; /* 프로필 밑쪽 간격 */
  padding-left: 30px;
  /* padding-right: 20px; */
}

.title .follower-content li {
  /* height: 100%;
            width: 100%; */
  /* display: flex;
            align-items: center; */
  /* margin: auto 0 auto 0; */
  margin: auto;
}

.title .follower-content li img { /* 프로필 사진 */
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.title .follower-content li p { /* li 안의 p태그 (글) */
  /* width: 100%;
            margin-bottom: 10px; */
  margin: 10px 0;
  user-select: none;
}

.title .follower-content li p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.filter { /* 필터 크기 조정 */
  width: 1000px;
  margin-left: 190px;
  margin-bottom: 50px;
}

.filter>ul {
  display: flex;
  list-style: none;
  height: 60px;
  background-color: #fcfcfc;
}

.filter ul li {
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 3.7em;
}

.filter ul .all {
  border-top: 1px solid #6d6d72;
  border-right: 1px solid #6d6d72;
  background-color: white;
  font-weight: bold;
}

.filter ul .name-asc {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.filter ul .date-desc {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.filter ul .follower-cnt {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.unfollow-btn {
  all: unset;
  clear: both;
  text-align: center;
  height: 35px;
  background: #ff2d55;
  color: white;
  text-transform: uppercase;
  line-height: 38px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid #ff2d55;
  border-radius: 5px;
  /* text-shadow: 0 0 10px white */
}

.explain {
  list-style: none;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

.explain div {
  display: inline-block;
  width: 35%;
}

.explain div:nth-child(1) {
  padding-left: 130px;
}
