.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.3s ease-out;
}


.modal-content{
	  text-align: left;
	  width: 450px;
	  position: fixed;
    display: inline-block;
    align-items: center;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0);
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.close{
    position: relative;
    bottom: 200px;
    left: 630px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content-title > img {
	  margin-top: 20px;
    width: 120px;
    height: 120px;
    border: 1px solid;
    border-radius: 4px;
    float: right;
}
#current-job, #guider-info {
  margin-top: 30px;
}
#guider-info, .modal-content-body {
  text-align: center;
}
.modal-content-body>div{
  word-break:break-all;
}

#current-job>span:nth-child(1), #dept>span:nth-child(1), #field2>span:nth-child(1) {
  font-size: 0.9rem;
}
