<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">

<head th:fragment="configFragment">
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" th:href="@{/resources/img/guiders.png}"/>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet"
          th:href="@{https://use.fontawesome.com/releases/v5.6.3/css/all.css}"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/header.css}">
    <link rel="stylesheet" th:href="@{/resources/css/include/footer.css}">
    <th:block layout:fragment="css"></th:block>

</head>
</html>
