@font-face {
  font-family: 'yoon';
  src: url('/resources/font/HANYOONGOTHIC760.TTF') format('truetype');
}

section {
  margin: 120px 15%;
  position: relative;
  text-align:center;
}

.title { /* 팔로워 리스트 크기 조정 */
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.title .follower-content {
  height: 200px;
  width: 1000px;
  display: flex;
  border: 2px solid #6d6d72;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0);
  list-style: none;
  margin: 10px 0;
  padding-left: 30px;
  /* padding-right: 20px; */
}

.title .follower-content li {
  margin: auto;
}


.title .follower-content li img { /* 프로필 사진 */
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 2px solid #ff2d55;
}

.question, .question-head, .question-suggestion { /* li 안의 p태그 (글) */
  margin: 10px 0;
  width: 350px;
  user-select: none;
}

.title .follower-content li p:hover:not(.question-head) {
  text-decoration: underline;
  cursor: pointer;
}

.filter { /* 필터 크기 조정 */
}

.filter>ul {
  display: flex;
  list-style: none;
  height: 60px;
  background-color: #fcfcfc;
}

.filter ul li {
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 3.7em;
}

.filter ul .all {
  border-top: 1px solid #6d6d72;
  border-right: 1px solid #6d6d72;
  background-color: white;
  font-weight: bold;
}

.filter ul .name-asc {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.filter ul .date-desc {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.filter ul .follower-count {
  border-top: 1px solid #6d6d72;
  border-bottom: 1px solid #6d6d72;
}

.unfollow-btn, .question-btn {
  all: unset;
  clear: both;
  text-align: center;
  height: 35px;
  background: #ff2d55;
  color: white;
  text-transform: uppercase;
  line-height: 38px;
  font-weight: 600;
  cursor: pointer;
  border: 3px solid #ff2d55;
  border-radius: 5px;
  /* text-shadow: 0 0 10px white */
}

.explain {
  list-style: none;
  position: absolute;
  width: 100%;
  margin-top: 10px;
  font-weight: bold;
}

.explain div {
  display: inline-block;
  width: 35%;
}

.explain div:nth-child(1) {
  padding-left: 130px;
}
li>p {
	text-align: left;
	overflow: hidden;
}

.mtr-info{
	margin: auto;
	width: 200px;
}
.question{
	width: 350px;
	overflow: hidden;
}
.question-head, .question-suggestion {
	font-weight: bold;
	margin-bottom: 30px;
}
.follower-content li:nth-child(3) {
	height: 100%;
}
.follower-content>li:nth-child(5) {
	margin: auto;
}

.job, .department{
	margin-top: 10px;
  font-size: 0.8rem;
  overflow: hidden;
}
.job>div, .department>div{
	width: 100%;
	font-weight: bold;
}

.more-qna {
	position: relative;
	top: 45px;
	left: 20px;
	cursor: pointer;
}
.more-qna:hover{
	text-decoration: underline;
}

.follower-content>li:nth-child(4){
	position: relative;
	top: 10px;
}
#current-job, #guider-info {
	margin-top: 30px;
}



#guider-info, .modal-content-body {
	text-align: center;
}
.modal-content-body>div{
	word-break:break-all;
}

#current-job>span:nth-child(1), #department>span:nth-child(1), #field2>span:nth-child(1) {
	font-size: 0.9rem;
}

.question-suggestion{
  position: relative;
  top: 80px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    transition: all 0.3s ease-out;
}

.modal-content{
    text-align: left;
    width: 450px;
    position: fixed;
    display: inline-block;
    align-items: center;
    background-color: #fefefe;
    top: 50%;
    left: 50%;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 6px;
    box-shadow:  2px 2px 4px rgba(0, 0, 0);
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.modal-content-title{
	text-align: center;
}
.modal-content-title>img{
	width: 240px;
	height:240px;
	border: 1px solid black;
	border-radius: 50%;
}

#content>textarea {
  all: unset;
  width: 90%;
  height: 450px;
  margin: 5px 0 15px;
  padding: 5px;
  border: 1px solid #b2bec3;
  border-radius: 4px;
  resize: none;
  text-align: left;
  background: white;
}

#mtr-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

#mtr-modal-body {
    position: fixed;
    left: 50%;
    bottom: 50%;
    width: 600px;
    height: 700px;
    border: 1px solid white;
    box-shadow: 2px 2px 3px black;
    border-radius: 4px;
    text-align: center;
    background: #f5f6fa;
    transform: translate(-85%, 67%);
    animation: 0.5s up-modal;
}

#title>input {
    all: unset;
    margin: 15px 5px 10px;
    padding: 0 5px;
    width: 90%;
    height: 35px;
    border: 1px solid #b2bec3;
    border-radius: 4px;
    text-align: left;
    background: white;
}