<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
          layout:decorator="layout/default" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/resources/css/main.css}">
</th:block>

<div layout:fragment="content">
    <div id="header-img">
        <div sec:authorize="isAnonymous()">
            <p>지금 바로 가입하세요.</p>
            <button type="button" class="btn" id="join">가입하기</button>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>실패란 보다 현명하게 다시 시작할 수 있는 기회다.</p>
            <p> - 헨리포</p>
        </div>
    </div>
    <section id="article">
        <h2>인기 에세이</h2>
        <th:block th:each="essay: ${topEssayList}">
            <article>
                <img class="article-img" th:src="${essay.image}">
                <h3 class="article-title" th:data-id="${essay.id}" th:text="${essay.title}"></h3>
                <div class="article-content" th:utext="${essay.content}"></div>
            </article>
        </th:block>
    </section>
    <div class="line">
        <div></div>
    </div>

    <h2 id="makers-title">DEVELOPERS</h2>
    <section id="makers">
        <div class="maker">
            <div class="card">
                <div class="face front">
                    <img th:src="@{/resources/img/maker/june.jpg}">
                    <div class="name">정원준</div>
                    <div class="role-title">ROLE</div>
                    <div class="role">시큐리티, 스케쥴 관리</div>
                </div>
                <div class="face back">
                    <img th:src="@{/resources/img/maker/a.png}" class="back-img">
                    <div>피카츄 라이츄 파이리 꼬부기</div>
                    <div>버터플 야도란 피죤투 또가스</div>
                </div>
            </div>
        </div>
        <div class="maker">
            <div class="card">
                <div class="face front">
                    <img th:src="@{/resources/img/maker/sam.jpg}">
                    <div class="name">권샘찬</div>
                    <div class="role-title">ROLE</div>
                    <div class="role">회원 관리, 화면 디자인</div>
                </div>
                <div class="face back">
                    <img th:src="@{/resources/img/maker/b.png}" class="back-img">
                    <div>야돈..</div>
                    <div>야돈..</div>
                </div>
            </div>
        </div>
        <div class="maker">
            <div class="card">
                <div class="face front">
                    <img th:src="@{/resources/img/maker/jeon.jpg}">
                    <div class="name">전지영</div>
                    <div class="role-title">ROLE</div>
                    <div class="role">게시판, 화면 디자인</div>
                </div>
                <div class="face back">
                    <img th:src="@{/resources/img/maker/c.png}" class="back-img">
                    <div>자 이제 시작이야 내 꿈을</div>
                    <div>내 꿈을 위한 여행</div>
                </div>
            </div>
        </div>
        <div class="maker">
            <div class="card">
                <div class="face front">
                    <img th:src="@{/resources/img/maker/hune.jpg}">
                    <div class="name">김정훈</div>
                    <div class="role-title">ROLE</div>
                    <div class="role">회원검색, 화면 디자인</div>
                </div>
                <div class="face back">
                    <img th:src="@{/resources/img/maker/d.png}" class="back-img">
                    <div>자 이제 시작이야 내 꿈을</div>
                    <div>내 꿈을 위한 여행</div>
                </div>
            </div>
        </div>
    </section>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/resources/js/main.js}"></script>
    <script>
        document.querySelector('#article').addEventListener('click', ({target}) => {
            if (target.className === 'article-title'){
                location.href = '/essay/detail/' + target.getAttribute('data-id');
            }
        });
    </script>
</th:block>

</html>
