<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" lang="ko">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/mypage/likeEssay.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/mypage/likeEssay.js}"></script>
</th:block>

<section layout:fragment="content">
    <article>
        <ul>
            <li id="li-head">
                <div class="writer">가이더</div>
                <div class="field">분야</div>
                <div class="lang">언어</div>
                <div class="title">제목</div>
                <div class="regDate">등록일</div>
            </li>
            <th:block th:each="essay: ${essayList}">
                <li data-id="${essay.id}">
                    <div class="writer" th:text="${essay.writer}"></div>
                    <div class="field" th:text="${essay.field}"></div>
                    <div class="lang" th:text="${essay.lang}"></div>
                    <div class="title" th:text="${essay.title}"></div>
                    <div class="regDate" th:text="${essay.createdDate}"></div>
                </li>
            </th:block>
        </ul>
    </article>
</section>
</html>