<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.brokers.guiders.web.essay.EssayDAO">

<insert id="insertEssay" parameterType="essay">
		INSERT INTO ESSAY(EMAIL, FIELD, LANG, TITLE, ECONTENT)
		VALUES(#{email}, #{field},#{lang}, #{title}, #{content})
</insert>

<select id="selectEssay" resultType="essay" parameterType="int">
	SELECT e.id, e.email, m.name,e.field, e.lang, e.title, e.content, m.photo,
	(SELECT count(*) FROM recommend WHERE id = #{id})likecnt, e.regdate
	FROM essay e
	JOIN member m
	ON e.email = m.email
	WHERE id = #{id}
</select>

<select id="selectEssayList" parameterType="pageCriteria" resultType="essay">
  SELECT e.id, e.email, m.name, m.photo, g.field, g.lang, e.title, e.content,
	  (SELECT (SELECT count(*) 
	  FROM recommend r 
	  WHERE r.id = essay.id AND r.id = essay.id) likecnt
	  FROM essay WHERE essay.id = e.id) likecnt,
  e.regdate 
  FROM essay e
  JOIN member m
  ON e.email = m.email
  JOIN guider g
  ON e.email = g.email
  <if test="cri.keyword != ''">
    <where>
      e.title LIKE CONCAT ('%',#{cri.keyword},'%')
      OR e.content LIKE CONCAT ('%',#{cri.keyword},'%')
    </where>
  </if>
  ORDER BY e.id DESC
  LIMIT #{startNum}, 5
</select>

<select id="selectEssayCount" parameterType="pageCriteria" resultType="integer">
  SELECT count(id) FROM essay
    <if test="keyword != ''">
    <where>
      title LIKE CONCAT ('%',#{keyword},'%')
      OR content LIKE CONCAT ('%',#{keyword},'%')
    </where>
  </if>
</select>

<update id="updateEssay" parameterType="essay">
	UPDATE essay
	SET title = #{title}, content = #{content}
	WHERE id = #{id}
</update>

<delete id="deleteEssay" parameterType="integer">
	DELETE FROM essay
	WHERE id = #{id}
</delete>

<select id="selectLikeCnt" resultType="integer" parameterType="map">
	SELECT count(*) FROM recommend
	WHERE id = #{id} AND email = #{email}
</select>

<insert id="insertRecommend" parameterType="map">
	INSERT INTO recommend
	VALUES(#{id}, #{email})
</insert>

<delete id="deleteRecommend" parameterType="map">
	DELETE FROM recommend
	where id = #{id} and email = #{email}
</delete>

<select id="getCount" resultType="integer">
  SELECT count(*) FROM recommend
  WHERE id = #{id}
</select>

<select id="selectTopEssay" resultType="map">
  SELECT id, title, content
  FROM essay
  ORDER BY likecnt DESC
  LIMIT 6
</select>

<update id="increaseLikeCnt">
  UPDATE essay
  SET likecnt = likecnt + 1
  WHERE id = #{id}
</update>

<update id="decreaseLikeCnt">
  UPDATE essay
  SET likecnt = likecnt - 1
  WHERE id = #{id}
</update>

</mapper>