<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
    <header th:fragment="headerFragment">
        <div id="header-content">
            <form th:action="@{/essay/list}" id="search-form" method="get">
                <div class="search-box">
                    <span class="span-word">검색</span>
                    <input type="text" name="keyword" class="search-txt" placeholder="제목이나 내용 검색" />
                    <a class="search-btn">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </form>
            <nav>
                <div class="menu-content">
                <span id="guiders">
                    <a th:href="@{/guiders}">Guiders</a>
                </span>
                </div>
                <div class="menu-content">
                    <span>
                        <a th:href="@{/metting}">Meeting</a>
                    </span>
                </div>
                <div class="menu-content">
                <span id="essay">
                    <a th:href="@{/essay/list}">Essay</a>
                </span>
                </div>
                <div class="menu-content">
                    <img th:src="@{/resources/img/iconmonstr-user-circle-thin.svg}" id="mypage">
                    <ul sec:authorize="isAuthenticated()" id="mypage-list">
                        <li sec:authorize="hasRole('GUIDER')"><a th:href="@{/mypage/questions}">Questions</a></li>
                        <li sec:authorize="hasRole('MEMBER')"><a th:href="@{/mypage/myGuider}">My Guiders</a></li>
                        <li><a th:href="@{/mypage/likeEssay}">Like Essay</a></li>
                        <li><a th:href="@{/mypage/edit}">정보수정</a></li>
                        <li><a th:href="@{/signout}">Logout</a></li>
                    </ul>
                    <ul th:if="${naver != null}" id="mypage-list">
                        <li><a th:href="@{/mypage/myGuider}">My Guiders</a></li>
                        <li><a th:href="@{/mypage/likeEssay}">Like Essay</a></li>
                        <li><a th:href="@{/mypage/edit}">정보수정</a></li>
                        <li id="naverLogout"><a th:href="@{/signout}">Logout</a></li>
                    </ul>

                    <ul sec:authorize="isAnonymous()" id="mypage-list">
                        <li id="login">Login</li>
                    </ul>
                </div>
                <div sec:authorize="isAuthenticated()" class="menu-content">
                    <span th:text="${#authentication.getName()}"></span>
                </div>
                <div th:if="${naver != null}" class="menu-content">
                    <span id="naverName">님</span>
                </div>
            </nav>
            <a href="/"><img th:src="@{/resources/img/logo.png}" id="logo"></a>
        </div>

        <div id="login-modal">
            <div id="login-modal-content">
                <h1 id="modal-title">Login</h1>
                <form id="form" th:action="@{./j_spring_security_check}" method="post">
                    <div id="email-wrap">
                        <label>아이디</label> <input type="text" name="email" id="apiEmail">
                    </div>
                    <div id="password-wrap">
                        <label>비밀번호</label> <input type="password" name="password" id="apiPassword">
                    </div>
                    <div>
                        <button type="button" id="apiLoginButton">로그인</button>
                    </div>
                    <div style="margin-top: 10px;">
                        <img th:src="@{/resources/img/naverLogin.png}" id="naver-login">
                    </div>
                </form>
                <!-- 			<div id="etc">
                                <span id="join-btn"><a href="/join">회원가입</a></span> l <span id="pwd-btn">비밀번호 찾기</span>
                            </div> -->
            </div>
        </div>

        <div id="login-fail-modal">
            <div id="login-fail-modal-content">
                <div>회원 정보가 맞지 않습니다.</div>
                <button class="btn">확인</button>
            </div>
        </div>

        <form id="mtr-modal">
            <section id="mtr-modal-body">
                <h2>
                    <span></span>에게 질문
                </h2>
                <article>
                    <div id="select-wrap">
                        <div id="field"></div>
                        <div id="lang"></div>
                    </div>
                    <div id="title">
                        <input type="text" name="title">
                    </div>
                    <div id="content">
                        <textarea name="content"></textarea>
                    </div>
                </article>
                <div id="btn-wrap">
                    <button type="button" id="mtr-submit">등록</button>
                    <button type="button" id="mtr-cancel">취소</button>
                </div>
                <input type="hidden" id="guider-id">
            </section>
        </form>
    </header>
</html>