<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.guiders.web.essay.dao.EssayDAO">

<insert id="insertEssay" parameterType="essayVO">
		INSERT INTO ESSAY(EMAIL, FIELD, LANG, ETITLE, ECONTENT)
		VALUES(#{email}, #{field},#{lang}, #{etitle}, #{econtent})
</insert>

<select id="selectEssay" resultType="map" parameterType="int">
		SELECT e.eno, e.email, e.field, e.lang, e.etitle, e.econtent, e.likecnt, e.regdate, m.mname, m.PHOTO 
		FROM essay E
		JOIN member m
		ON e.email = m.email
		WHERE e.eno = #{eno}
</select>

</mapper>