<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.guiders.web.essay.dao.EssayDAO">

<insert id="insertEssay" parameterType="essayVO">
		INSERT INTO ESSAY(EMAIL, FIELD, LANG, ETITLE, ECONTENT)
		VALUES(#{email}, #{field},#{lang}, #{etitle}, #{econtent})
</insert>

<select id="selectEssay" resultType="essayVO" parameterType="int">
	SELECT e.eno, e.email, m.mname,e.field, e.lang, e.etitle, e.econtent, m.photo,
	(SELECT count(*) FROM recommend WHERE eno = #{eno})likecnt, e.regdate 
	FROM essay e
	JOIN member m
	ON e.email = m.email
	WHERE eno = #{eno}
</select>

<select id="selectEssayList" resultType="essayVO"> <!-- parameterType 추가 예정(페이지) -->
  SELECT e.eno, e.email, m.mname, m.photo, g.field, g.lang, e.etitle, e.econtent, 
	  (SELECT (SELECT count(*) 
	  FROM recommend r 
	  WHERE r.eno = essay.eno AND r.eno = essay.eno)likecnt 
	  FROM essay WHERE essay.eno = e.eno)likecnt, 
  e.regdate 
  FROM essay e
  JOIN member m
  ON e.email = m.email
  JOIN guider g
  ON e.email = g.email
  ORDER BY e.eno DESC
  LIMIT 0,4
</select>

<update id="updateEssay" parameterType="essayVO">
	UPDATE essay
	SET etitle = #{etitle}, econtent = #{econtent}
	WHERE eno = #{eno}
</update>

<delete id="deleteEssay" parameterType="integer">
	DELETE FROM essay
	WHERE eno = #{eno}
</delete>

<select id="selectLikeCnt" resultType="integer" parameterType="map">
	SELECT count(*) FROM recommend
	WHERE eno = #{eno} AND email = #{email}
</select>

<insert id="insertRecommend" parameterType="map">
	INSERT INTO recommend
	VALUES(#{eno}, #{email})
</insert>

<delete id="deleteRecommend" parameterType="map">
	DELETE FROM recommend
	where eno = #{eno} and email = #{email}
</delete>

<select id="getCount" resultType="integer">
  SELECT count(*) FROM recommend
  WHERE eno = #{eno}
</select>

</mapper>