<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guiders.web.guiders.dao.MentoringDAO">
  <insert id="insertMentoring">
    INSERT INTO mentoring (follower, guider, mtitle, mcontent, field, lang)
    VALUE (#{follower}, #{guider}, #{mtitle}, #{mcontent}, #{field}, #{lang});
  </insert>
  
  <update id="updateMentoring">
    UPDATE mentoring SET mreply = #{mreply}, replydate = now() 
    WHERE mtrno = #{mtrno};
  </update>
  
  <select id="selectMentoring" parameterType="integer" resultType="mentoringVO">
    SELECT * FROM mentoring WHERE mtrno = #{value}
  </select>
  
  <select id="selectMyQuestions" parameterType="string" resultType="map">
    SELECT mtr.mtrno, mtr.follower, mtr.mtitle, mtr.mcontent, mtr.regdate, mtr.replydate, m.mname
    FROM mentoring mtr JOIN member m ON mtr.follower = m.email WHERE guider = #{value}
  </select>
  
</mapper>