<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guiders.web.member.dao.MyPageDAO">

  <select id="getMyGuiders" parameterType="string" resultType="map">
    SELECT m.email, m.mname, m.photo, g.field, g.quote
    FROM member m
    JOIN guider g ON
    m.email = g.email
    WHERE m.email
    IN (SELECT guider FROM follower WHERE follow=#{email})
  </select>
  
  <select id="selectMyLikeEssay" resultType="essayVO" parameterType="string">
		SELECT e.eno, e.email, m.mname, e.field, e.lang, e.etitle, e.regdate 
		FROM essay e
		JOIN member m
		ON e.email = m.email
		WHERE e.eno IN (SELECT eno FROM recommend WHERE email = #{email})
  </select>
  
  <select id="selectEssayContent" resultType="string" parameterType="integer">
    SELECT econtent 
    FROM essay 
    WHERE eno = #{eno}
  </select>

</mapper>